
ul#dockmenu {
position: absolute;
	list-style:none;
	padding:15px 10px 10px 10px;
	margin-top: 20px;
	margin-left: -40px;
	width: 20px;



}
ul#dockmenu li {
	float:left;
	position:relative;
	top:0;
	margin:8px 8px 8px 8px;
	padding:0;
	line-height:0;
}
ul#dockmenu li a img {
	border:none;
}
div.p_textdock {
	position:absolute;
	display:none;
	text-align:center;
	width:100%;
	color:black;
	font-family:arial, helvetica;
	text-shadow:1px 1px 1px #222222;
	font-size:.8em;
	line-height:16px;
	text-transform:uppercase;
}
