body{
	height: auto;
        
}

#splash-page.ng-cloak  {
  display: none;
  cursor: wait;
}

.hidden {
    visibility: hidden;
}

rect {
  fill: none;
  stroke: #fff;
}

text {
    pointer-events: none;
}



#chart {
	margin-top: 50px;
  margin-right: auto;
  margin-left: 100px;
  width: 90%;
  min-width: 400px;
  min-height: 400px;
}

ul{
	text-indent:20px;
	list-style-position:inside;
}

.information {
	margin-top: -1px;
  margin-right: auto;
  margin-left: 100px;
  width: 90%;
    text-align: center;
    position: absolute;
    min-width: 400px;
    height: 1.3em;
    
}

.information2 {
    margin: auto;
    position: absolute;
    width: 100%;
    min-width: 400px;
    height: 2em;
    background-color: #EFEBA9;
}

.textChildren{
	font-size: x-large;
	text-anchor: middle;
}

.textParent{
	font-size: large;
	text-anchor: middle;
}

.textChild{
	font-style: italic;
	font-size: smaller
}

.nodeInfo {
    float: left;
    border: 1px solid black;
    width: 30%;
    height: 4em;
    table-layout: fixed;
    border-collapse:collapse

}
.nodeLink:hover {
    border-bottom:1px solid;
    font-weight: bold;
    color: blue;
    cursor:pointer;
}

.childLink:hover{
	cursor:pointer;
    font-weight: lighter;
    color: blue;
}

.constraintsList:hover{
	cursor:pointer;
    font-weight: lighter;
    color: blue;
}

.nodeNumb:hover {
	border:1px dashed;
	cursor:pointer;
	
}

.nodeInfo td {
    border: 1px solid black;
}

.VMInfo {
    float: right;
    border: 1px solid black;
    width: 30%;
    height: 4em;
    border-collapse:collapse
}
.VMInfo td {
    border: 1px solid black;
}

.nodeInfo2 {
    float: left;
    border: 1px solid black;
    width: 19.5%;
    height: 4em;
    table-layout: fixed;
    border-collapse:collapse
}

.nodeInfo2 td {
    border: 1px solid black;
}



