rect {
  fill: none;
  stroke: #fff;
}

text {
    pointer-events: none;
}

#chart {
  margin: auto;
  width: 100%;
  min-width: 400px;
  min-height: 400px;
}

#ressources{
	float: left;
}

#search{
	  float: right;
	  
	
}

.information {
    margin: auto;
    position: relative;
    width: 100%;
    min-width: 400px;
    height: 4em;
    background-color: #72DEF9;
}

.textChildren{
	font-size: x-large;
	text-anchor: middle;
}

.textChild{
	font-style: italic;
	font-size: smaller
}

.nodeInfo {
    float: left;
    border: 1px solid black;
    width: 30%;
    height: 4em;
    table-layout: fixed;
    border-collapse:collapse

}
.nodeInfo td {
    border: 1px solid black;
}

.VMInfo {
    float: right;
    border: 1px solid black;
    width: 30%;
    height: 4em;
    border-collapse:collapse
}
.VMInfo td {
    border: 1px solid black;
}

.nodeInfo2 {
    float: left;
    border: 1px solid black;
    width: 19.5%;
    height: 4em;
    table-layout: fixed;
    border-collapse:collapse
}

.nodeInfo2 td {
    border: 1px solid black;
}

.nodeLink:hover {
    border-bottom:1px solid;
    font-weight: bold;
    color: blue;
}