rect {
  fill: none;
  stroke: #fff;
}

text {
    pointer-events: none;
}

#chart {
  margin: auto;
  width: 100%;
  min-width: 400px;
}

#ressources{
	float: left;
}

#search{
	  float: right;
	  
	
}

.information {
    margin: auto;
    position: relative;
    width: 100%;
    min-width: 400px;
    height: 4em;
    background-color: #EFEBA9;
}

.textChildren{
	font-size: x-large;
	text-anchor: middle;
}

.textChild{
	font-style: italic;
	font-size: smaller
}

.nodeLvl4 {
    font-size: larger;
    font-weight: bold;
}

.nodeLvl3 {
    font-size: larger;
    font-weight: bold;
}

.nodeLvl2 {
    font-size: large;
}

.nodeLvl1 {
    font-size: large;
}

.nodeLvl0 {
    font-size: large;
}

.nodeInfo {
    float: left;
}

.VMInfo {
    float: right;
}